<div style="text-align: center">
  <h1 style="font-size: 35px;">Recuperando senha</h1>
</div>

<p style="text-align: center; font-size: 20px;">Use esse código <b>{{code}}</b> para recuperar a sua senha</p>

<hr style="width: 80%; max-width: 50rem;">

<p style="text-align: center;">Equipe toPdf ❤️</p>